@charset "utf-8";
body {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: oblique;
    font-size: medium;
    background-color: #C1BEC3;
    text-align: center;
}
